.new-background-color{
    --background: url(https://www.dhresource.com/600x600/f2/albu/g7/M01/B1/A5/rBVaSVvFmaSAIEggAASPjoPXosw610.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 50%;
    width: 100%;}
    .overflow-me{
      overflow: hidden;
      text-overflow: ellipsis;
     }