<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="new-background-color">


    <ion-card>
      <ion-card-header>
        <ion-card-title> Introduction:  </ion-card-title>
      </ion-card-header>

      <ion-card-content>
                                        Le  Carnaval de la Tunisie pour la Musique Universelle «CTM U» est une logique évènementielle
                                    annuelle initié en Tunisie par Mr Idoudi Abdelfattah président de l’Agence des Techniques de
                                    Communication et du Marketing « ATCM Tunisie ».
                                    Elle consiste en une série de concerts musicaux et festivaliens axée sur des thématiques créatives
                                    ayant pour objectif la mobilisation de la culture pour remédier aux effets néfastes de la fracture
                                    socioculturelle causée par les phénomènes de la violence, de l’extrémisme, et du racisme odieux
                                    devenus par l’élargissement de leurs cercles de propagation une menace pour la paix et la sécurité
                                    internationale.
                                    Le  Carnaval de la Tunisie pour la Musique Universelle «CTM U» ambitionne de devenir le point
                                    de rencontre périodique des musiciens et des artistes de par le monde soucieux de jouer un rôle
                                    efficace dans la diplomatie culturelle et d’adresser un message culturel universel pour le développement
                                    des relations humaines et d’ aider à rétablir les ponts de communications entre les peuples, les états et
                                    les institutions toutes confondues.
                                    Ainsi chaque participation musicale de chaque pays devient une présence d’ambassadeurs de la
                                    fraternité et de la paix mondiale réalisant à la fois la vulgarisation du patrimoine et le partage
                                    d’acculturation sur terrain, ainsi que l’amélioration des échanges économiques et de coopérations aidant
                                    ainsi à l’éradication de la pauvreté et de la faim.
                                    Le Carnaval de la Tunisie pour la Musique Universelle «CTM U» a aussi pour mission de
                                    promouvoir le tourisme solidaire et la prospérité hôtelière et la distraction des touristes visiteurs, aussi
                                    bien que le raffermissement et le rapprochement des liens et des ententes réciproques entre les
                                    différents peuples du monde.

      </ion-card-content>

    </ion-card>
</ion-content>