.new-background-color{
    --background: url(../../../assets/img/gg.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 50%;
    width: 100%;}

    @font-face {
        font-family: Futuralight;
        src: url(../../../assets/fonts/futuralightbt.ttf) format("opentype");
      
      }
      #fontfm{
        font-family:Futuralight ;
        font-size: 19px;
        font-weight: bold;
        
      }
      #fontlg{
        font-family:Futuralight ;
        font-size: 15px;
        font-weight: 300;
       
      }
      #fontdata{
        font-family:Futuralight ;
        color: red;
        font-size: 16px;
      }
      #textcentreevent{
        font-family:Futuralight ;
        font-size: 14px;
        padding-left: 0;
        margin-left: 0;
        text-align: justify;
        color: black;
        font-weight: bold;
      }

      #textcentreevents{
        font-family:Futuralight ;
        font-size: 14px;
        padding-left: 0;
        
      }
      #fontfmW{
        font-family:Futuralight ;
        font-size: 22px;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }