<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Archives
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="new-background-color">
  <ion-card style="border: 1px solid rgb(60, 9, 90)" >

  
   
    <ion-item>
     
     
      <ion-button fill="outline"  slot="end" (click)="openLocalPdf()">Ouvrir le fichier </ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="https://img.over-blog-kiwi.com/0/95/84/58/20141231/ob_88ad0d_marquee-images.png"  (click)="openLocalPdf()">
      <p style="text-align: center;">كرنفال تونس للموسيقي الكونية 2017</p>
      
    
    </ion-card-content>
  </ion-card>
</ion-content>